body {
    background-color: #f2f2f2;
    color: #FFFFFF;
}
h1{
	color: red;
}

div img{
  float: right;
  width: 84px;
}

.titu{
  text-align: center;
  align-items: center;
  width: 99%;
  height: 70px;
  flex-basis: auto;
  border: 1px ;
}

.parrafo{
  color: black;
  font-family: Times New Roman;
  font-size: 24px;
  width: 75%;
  flex-basis: auto;
  justify-content: flex-start;
  margin: auto;
  margin-top: 50px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}